# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data science
- Commonly used libraries used by Data Scientists
- Tables in Markdown
- Arithmetic Expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Javascript
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. ggplot

| Data Science Tools |
| ------------------ |
| Jupyter |
| R Studio |
| Spyder | 
| JupyterLab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = 200/60
print(hours)

3.3333333333333335

## Author 
Akanksha